<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
        {{else}}
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
        {{/if}}
    </header>
    <main>       
    {{{body}}}
    </main>
    <footer><h2>© 2023 Tech Blog</h2></footer>
</body>
</html>