<h1>Signup</h1>

<form id="signupForm">
    <input type="text" id="signupUsername" placeholder="username">
    <input type="password" id="signupPassword" >
    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>